@{
    var employee = ViewBag.User;
}
<table style="font-family:Arial">
        <tr>
            <td>Employee ID:</td>
            <td>@employee.Id </td>
        </tr>
        <tr>
            <td>Name:</td>
            <td>@employee.Name</td>
        </tr>
</table>
